<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.LuckyMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.pojo.Lucky">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="lucky_name" jdbcType="VARCHAR" property="luckyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lucky_name
  </sql>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(*) from lucky
  </select>
  
  <select id="selectRand" resultType="com.jnshu.pojo.Lucky">
    SELECT * FROM lucky  ORDER BY  RAND() LIMIT 1
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lucky
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lucky
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.pojo.Lucky">
    insert into lucky (id, lucky_name)
    values (#{id,jdbcType=BIGINT}, #{luckyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jnshu.pojo.Lucky">
    insert into lucky
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="luckyName != null">
        lucky_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="luckyName != null">
        #{luckyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.pojo.Lucky">
    update lucky
    <set>
      <if test="luckyName != null">
        lucky_name = #{luckyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnshu.pojo.Lucky">
    update lucky
    set lucky_name = #{luckyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>