<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.ExcellenceMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.pojo.Excellence">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="work" jdbcType="VARCHAR" property="work" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="salary" jdbcType="BIGINT" property="salary" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, image, job, name, company, work, description, salary, create_at, update_at
  </sql>
  <select id="selectByExample" parameterType="com.jnshu.pojo.ExcellenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from excellence
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from excellence
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from excellence
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.pojo.Excellence">
    insert into excellence (id, image, job, 
      name, company, work, 
      description, salary, create_at, 
      update_at)
    values (#{id,jdbcType=BIGINT}, #{image,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{salary,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, 
      #{updateAt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jnshu.pojo.Excellence">
    insert into excellence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="work != null">
        work,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="work != null">
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.pojo.Excellence">
    update excellence
    <set>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="work != null">
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnshu.pojo.Excellence">
    update excellence
    set image = #{image,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      work = #{work,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>